<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body{
			padding-top:40px;
		}
	</style>
</head>
<body>
	<div id="app" class="container">

	<message>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique ultrices tortor, ac consequat enim feugiat sit amet. Vivamus ac ipsum enim. Vestibulum aliquet urna vitae nunc tincidunt, quis pellentesque lorem pretium. Nullam dictum est sit amet massa ornare, in pretium diam viverra.</message>
	

	</div>


<script src="https://unpkg.com/vue"></script>
<script src="message.js"></script>

</body>
</html>